.showAllEmployee {
  height: 100vh;
  padding-top: 6rem;
  table {
    width: 100%;
    tr {
      td {
        span {
          display: inline-block;
          color: $mainColor;
        }
      
      }
    }
  }
}
//Tablet
@media only screen and (max-width: 64.0625em) {
  .showAllEmployee {
   height: auto;
  }
}
 //telefon
@media only screen and (max-width: 40.0625em) {

  .hideColumn {
    display: none;
  }
}